<div class="flash_container">
    {% with msgs = get_flashed_messages(with_categories=true) %}
    {% if msgs %}
    <ul class="flash_list mt-3">
        {% for category, msg in msgs %}
        <li class="alert alert-{{ category }} alert-dismissible fade show li_item" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>