body {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
}

/*  navbar.jinja */

.navbar_nav {
    background-color: #e3f2fd;
    margin-bottom: 30px;
}

/* flash.jinja */

.flash_container {
    margin: 0 auto; 
    max-width: 800px;
}

.flash_list {
    list-style-type: none;
}

/* base.jinja */

.base_container {
    margin: 30px auto;
    background-color: whitesmoke;
    max-width: 980px;
}

.error_msg {
    color: orangered;
}

/* index.jinja */

.home_container {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/static/marvel_home.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 560px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: #eee;
}

/* marvel.jinja */

.marvel_container {
    width: 100%;
}

.marvel_head_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/static/marvel_banner.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    width: 100%;
    height: 170px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.marvel_char_container {
    background-color: gray;
    width: 100%;
    height: 590px;
    overflow-y: auto;
}

.marvel_empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.matches_heading {
    padding: 25px 0;
    text-align: center;
    color: #111111;
}

.card_container {
    margin: 0 auto;
    width: 870px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card_style {
    margin: 15px;
    width: 260px;
}

.card_add {
    font-size: 14px;
}

.card_body {
    padding: 0;
    height: 260px;
}

.card_body_img {
    height: 100%;
    object-fit: cover;
}

.card_footer {
    font-size: 14px;
    text-align: center;
}

/* add_marvel.jinja */

.add_marvel_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/static/add_marvel.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    width: 100%;
    height: 300px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.add_marvel_left {
    width: 30%;
    padding: 15px;
}

.add_marvel_left_img {
    height: 100%;
    object-fit: cover;
}

.add_marvel_middle {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add_marvel_middle_heading {
    padding-bottom: 25px;
}

.add_marvel_right {
    width: 30%;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

/* .card_left {
    max-width: 180px;

} */

/* .card_right {
    max-width: 60%;

} */

.card_number {
    line-height: 1.0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
}

.card_title {
    line-height: 1.1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.03rem;
    font-size: 1rem;
}

/* signin.jinja and signup.jinja */

.form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 515px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/static/avengers.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    text-align: center;
}

.form_signupin {
    margin: 0;
    text-align: center;
}

/* user_page.jinja */

.user_page_main_container {
    width: 100%;
    padding: 20px;
}

.user_page_header {
    padding: 30px 0;
    color: slategrey;
    text-align: center;
}

.user_page_card_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.user_page_card {
    max-width: 420px;
    margin: 20px;
}

.user_page_card_image_container {
    height: 160px;
}

.user_page_card_image {
    height: 100%;
    object-fit: cover;
}

.user_page_card_body {
    overflow-y: auto;
}