{% extends 'base.jinja' %}

{% block content %}

<div class="add_marvel_container">

    <div class="add_marvel_left">
        <img src="{{ results.m_img }}" alt="{{ results.m_name }}" class="add_marvel_left_img">
    </div>
    <div class="add_marvel_middle">
        <h4 class="add_marvel_middle_heading">{{ results.m_name }}</h4>
        <form action="" method="POST" novalidate class="form_signupin">
            {{ form.hidden_tag() }}
            {{ form.nickname(size=32,placeholder='Give a Nickname?') }}
            {% for error in form.nickname.errors %}
                <span class="error_msg">{{ error }}</span>
            {% endfor %}
            </p>
            <p>
            {{ form.superpower(size=32, placeholder='Chosen Superpower?') }}
            {% for error in form.superpower.errors %}
                <span class="error_msg">{{ error }}</span>
            {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    <div class="add_marvel_right">
        <h3>Customize your Marvel character!</h3>
    </div>
</div>

{% endblock %}